<%= render "layouts/errors", :object => @answer %>


<%= form_for [@question, @answer] do |f| %>
  <div class="row">
    <div class="large-6 columns">
      <%= f.label :response %>
      <br>
      <%= f.text_field :response %>
    </div>
  </div>
  <%= f.submit class: "btn" %>
<% end %>
